//-----------------------------
//------------INDEX------------
//-----------------------------

// -----------HERO-------------

.hero {
    grid-area: hero;

    div {
        /* Flexbox */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        /* Boxmodel */
        height: 500px;
        margin: $topMargin 0 100px 0;
        border: solid $color2;
        border-width: 6px 0;
    
        /* Background y animacion */
        background-image: url(../media/hero/hero_blur.png);
        background-repeat: no-repeat;
        background-size: 1200px;
    
        animation-name: hero;
        animation-duration: 20s;
        animation-iteration-count: infinite;

        h1 {
            animation: heroTxt 1s ease-in-out forwards;
        }

        .midH1 {
            font-size: 50px;
            font-family: 'dancing script', cursive;
            animation-delay: 0.8s;
            opacity: 0;
        }

        .botH1 {
            font-size: 16px;
            animation-delay: 1.8s;
            opacity: 0;
        }
    }
}

// -----------MAIN-------------

.mainIndTop, .mainIndBot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
        
    height: 100%;
    width: 100%;
    background-color: $color2op1;

    p {
        width: 300px;
    }

    img {
        width: 200px;
        border: solid 6px $color2;
    }
}

.mainIndTop {
    grid-area: mainT;
}

.mainIndBot {
    grid-area: mainB;
    background-color: $color2op2;
}

// -----------CARRUSEL-------------

.customCar {
    grid-area: car;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;

    > div {
        border: 6px solid $color2;
        width: 300px;
    }

    h2, p {
      background-color: rgba(241, 241, 241, 0.4);
      margin: 0;
      padding: 10px;
    }
}

//-----------------------------
//-----------NOSOTROS----------
//-----------------------------

// -----------MAIN-------------

.mainNos {
    grid-area: mainN;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: $topMargin;

    animation: nosMain 3s ease-in-out forwards;

    img {
        opacity: 0;
        width: 320px;
        animation: nos 1s ease-in-out forwards;
        animation-delay: 1.8s;
    }

    h1 {
        opacity: 0;
        animation: nos 1s ease-in-out forwards;

        width: 130px;

        font-size: 30px;
        text-decoration: underline;
    }

    p {
        opacity: 0;
        animation: nos 1s ease-in-out forwards;
        animation-delay: 0.8s;
        width: 300px;
    }
}

.nosCom, .nosPre, .nosFut {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 300px;
        color: black;
    }
}

.nosCom {
    grid-area: com;
    background-color: $color2op1;
}

.nosPre {
    grid-area: pre;
}

.nosFut {
    grid-area: fut;
    background-color: $color2op1;
}

//-----------------------------
//-----------SERVICIOS---------
//-----------------------------

// -----------TITULO-------------

.tituloS {
    grid-area: tituloS;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin-top: $topMargin;

    h1 {
        animation: 1s nos forwards ease-in-out;
        opacity: 0;
    }

    p {
        animation: 1s nos forwards ease-in-out;
        animation-delay: 0.8s;
        opacity: 0;
        
        width: 300px;
    }
}

// -----------TABLA-------------

.tablaServ {
    grid-area: tabla;

    animation: 1s nos forwards ease-in-out;
    animation-delay: 1.8s;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    table {
        border: 6px solid $color3;
        max-width: 400px;

        td {
            background-color: $color1;
            border: 2px solid $color2;
        }

        .tabTit td {
            background-color: $color3;
        }

        .tabSubTit td {
            background-color: $color2;
            border: 2px solid $color3;
        }

        h2 {
            text-decoration: underline;
            margin: 6px;
        }
        h3 {
            margin: 6px;
        }
    }
}

// -----------SERVICIOS-------------

.tradicional {
    grid-area: trad;
}

.kapping {
    grid-area: kapp;
}

.semi {
    grid-area: semi;
}

.esculpido {
    grid-area: esc;
}

.descServ {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: $color2op1;

    img {
        width: 200px;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h3 {
            text-decoration: underline;
        }
    
        p {
            width: 290px;
        }
    }
}

.servDer {
    background-color: $color2op2;
}

//-----------------------------
//-----------GALERIA-----------
//-----------------------------

// -----------TITULO-------------

.tituloGal {
    grid-area: titulo;

    margin-top: $topMargin;

    h1 {
        animation: galTit 1s forwards ease-in-out;
        opacity: 0;

        background-color: $color3;
        text-align: start;
        padding: 6px 20px;
        margin: 0;
    }

    h2 {
        animation: galTit 1s forwards ease-in-out;
        opacity: 0;
        animation-delay: 0.8s;
        background-color: $color2;
        font-size: 20px;
        text-align: start;
        padding: 3px 20px;
        margin-bottom: 50px;
    }
}

// -----------IMAGENES-------------

.galeria {
    grid-area: gal;

    display: flex;
    flex-flow: wrap;
    justify-content: center;

    img {
        opacity: 0;
        animation: galeria 0.5s forwards;
        width: 300px;
        margin: 20px;
        border: 6px solid $color3;
    }

    @for $X from 1 through 12 {
        .gal#{$X} {
            animation-delay: ($X * 0.1s + 1.8s);
        }
    }
}

//-----------------------------
//-------------FAQ-------------
//-----------------------------

// -----------TITULO-------------

.tituloFaq {
    grid-area: tituloF;

    margin-top: $topMargin;

    h1 {
        opacity: 0;
        animation: nos 2s forwards;

        font-size: 50px;
    }

    img {
        animation: faq 4s ease-out;
        overflow-x: hidden;

        width: 100px;
    }
}

// -----------MAIN-------------

@each $area in $faqA {
    .#{$area} {
        grid-area: #{$area};
    }
}

.secFAQ {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 200px;

    iframe {
        border: 6px solid $color2;
        width: 300px;
    }

    h2, p {
        width: 300px;
    }

    img {
        width: 80px;
        margin: 20px 0;
    }
}