@media (max-width: 576px) {
//-----------------------------
//------------INDEX------------
//-----------------------------

// -----------LAYOUT-------------

#indexGrid {
    grid-template-areas: 
    "hero"
    "car"
    "mainT"
    "mainB"
    "foot"
    ;

    grid-template-columns: 100%;
    grid-template-rows: (600px + $topMargin) repeat(3, 500px) 150px;

    width: 100%;
}

//-----------------------------
//-----------NOSOTROS----------
//-----------------------------

// -----------LAYOUT-------------

#nosGrid {
    grid-template-areas: 
    "mainN"
    "com"
    "pre"
    "fut"
    "foot"
    ;

    grid-template-columns: 100%;
    grid-template-rows: (500px + $topMargin) repeat(3, 700px) 150px;
}

//-----------------------------
//-----------SERVICIOS---------
//-----------------------------

// -----------LAYOUT-------------

#servGrid {
    grid-template-areas:
    "tituloS"
    "tabla"
    "trad"
    "kapp"
    "semi"
    "esc"
    "foot"
    ;

    grid-template-columns: 100%;
    grid-template-rows: (200px + $topMargin) repeat(5, 600px) 150px;
}

//-----------------------------
//-----------GALERIA-----------
//-----------------------------

// -----------LAYOUT-------------

#galGrid {
    grid-template-areas:
    "titulo"
    "gal"
    "foot"
    ;

    grid-template-columns: 100%;
    grid-template-rows: (200px + $topMargin) 1fr 150px;
}

//-----------------------------
//-------------FAQ-------------
//-----------------------------

// -----------LAYOUT-------------

#faqGrid {
    grid-template-areas:
    "tituloF"
    "hora"
    "dias"
    "dto"
    "coor" 
    "foot"
    ;

    grid-template-columns: 100%;
    grid-template-rows: (200px + $topMargin) repeat(4, 500px) 150px;
}

}