@media (max-width: 576px) {
/* MOBILE SMARTPHONE --__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__*/
/*  --__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--*/

// -----------CORRECCIONES-------------

body {

    min-height: -350px;

}

// ---------------AREAS-----------------

#indexGrid {

    /* GRIDS */
    grid-template-areas:
    "hero"
    "txt1"
    "txt2"
    ;/* GRIDS */

    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 1fr;

}

/*  --__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--*/
/* MOBILE SMARTPHONE --__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__--__*/}